{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class = "yellow-form2">
        <div class = "flex justify-center fs-3">
            <p>
                회원정보
            </p>

        </div>
        <div>
            <p>
                가입 날짜 : {{ target_user.date_joined }}
            </p>
            <h2>
                아이디 : {{ target_user.username }}
            </h2>
        </div>

        <div class = "calendar">
            <div class= "cal-header">
                <div class = "year-month"></div>
                <div class = "cal-navi">
                    <button class = "nav-btn go-prev" onclick = "prevMonth()">&lt;</button>
                    <button class = "nav-btn go-today" onclick = "goToday()">Today</button>
                    <button class = "nav-btn go-next" onclick = "nextMonth()">&gt;</button>

                </div>
            </div>
            <div class = "cal-main">
                <div class="days">
                    <div class = "day">일</div>
                    <div class = "day">월</div>
                    <div class = "day">화</div>
                    <div class = "day">수</div>
                    <div class = "day">목</div>
                    <div class = "day">금</div>
                    <div class = "day">토</div>

                </div>
                <div class = "dates"></div>
            </div>
        </div>
        <div class = "navi">
            {% if target_user == user %}
            <a class = "btn-sm-y navi-button" href="{% url 'accountapp:update' pk=user.pk %}">
                    회원정보<br>변경하기
            </a>
            <a class = "btn-sm navi-button" href="{% url 'accountapp:delete' pk=user.pk %}">

                    회원 탈퇴하기

            </a>
            {% endif %}


        </div>


    </div>

{% endblock%}
