{% extends 'base.html' %}
{% load bootstrap4 %}

{% load static %}

{% block content %}

    <div class = "yellow-form">
        <div>
            <h4>Login</h4>
        </div>

        <div>
            <form action="" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input type="submit" class="btn-submit">
            </form>
        </div>
        <div class = "fl-center">
            <div class="btn-yellow">
                <a href="{% url 'accountapp:create' %}">
                    회원가입
                </a>
            </div>
        </div>

    </div>

{% endblock%}
