.btn-big, .btn {
    border-radius: 0.5rem;
    padding : 1rem 2rem;
    width: 20rem;
    background-color: var(--secondary);
    align-items: center;
    justify-content: center;
    color: white;
}

.btn-yellow {
    border-radius: 0.5rem;
    padding : 1rem 2rem;
    width: 20rem;
    background-color: var(--primary);
    align-items: center;
    justify-content: center;
    color: white;
}

.btn-sm {
    border-radius: 0.5rem;
    padding : 1rem 2rem;
    width: 10rem;
    background-color: var(--secondary);
    display : flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.btn-sm-y {
    border-radius: 0.5rem;
    padding : 1rem 2rem;
    width: 10rem;
    display : flex;
    background-color: var(--primary);
    align-items: center;
    justify-content: center;
    color: black;
}

.header {
    width : 100%;
    background-color : var(--primary);
    color : white;

}

.top{
    display : flex;
    justify-content : space-between;
}

.fl-center{
    display:flex;
    justify-content : center;
}
.logo {
    width : 100px ;
    height : 100px;
    padding : 5px;
    margin : 20px;
}

.login {
    margin : 50px;
    margin-top : 60px;
    display : flex;
    padding : 10px;
    justify-content : center;
    align-center : center;
    height : 3rem;
    width : 4rem;
}

.yellow-form{
    text-align: center;
    max-width:500px;
    margin:4rem auto;
    border : 5px solid #FADF70;
    border-radius : 1rem;
    padding : 1rem 2rem;
}

.yellow-form2{
    max-width:500px;
    margin:4rem auto;
    border : 5px solid #FADF70;
    border-radius : 1rem;
    padding : 1rem 2rem;
}

.navi{
    display : flex;
    justify-content : center;

}

.navi-button {
    margin : 10px;
}

.btn-submit {
    border-radius: 0.5rem;
    padding : 1rem 2rem;
    width: 20rem;
    background-color: #FADF70;
    align-items: center;
    justify-content: center;
    color: black;
    margin : 1rem;
    border : 1px solid black;
}

.lgform{
    text-align: center;
    max-width:500px;
    margin:4rem auto;
    border : 5px solid primary;
    border-radius : 1rem;
    padding : 1rem 2rem;

}