.btn-big, .btn {
    border-radius: 0.5rem;
    padding : 1rem 2rem;
    width: 20rem;
    background-color: var(--secondary);
    align-items: center;
    justify-content: center;
    color: white;
}

.btn-yellow {
    border-radius: 0.5rem;
    padding : 1rem 2rem;
    width: 20rem;
    background-color: var(--primary);
    align-items: center;
    justify-content: center;
    color: white;
}

.btn-sm {
    border-radius: 0.5rem;
    padding : 1rem 2rem;
    width: 10rem;
    background-color: var(--secondary);
    display : flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.btn-sm-y {
    border-radius: 0.5rem;
    padding : 1rem 2rem;
    width: 10rem;
    display : flex;
    background-color: var(--primary);
    align-items: center;
    justify-content: center;
    color: black;
}

.header {
    width : 100%;
    background-color : var(--primary);
    color : white;

}

.top{
    display : flex;
    justify-content : space-between;
}

.fl-center{
    display:flex;
    justify-content : center;
}
.logo {
    width : 100px ;
    height : 100px;
    padding : 5px;
    margin : 20px;
}

.login {
    margin : 50px;
    margin-top : 60px;
    display : flex;
    padding : 10px;
    justify-content : center;
    align-center : center;
    height : 3rem;
    width : 4rem;
}

.yellow-form{
    text-align: center;
    max-width:500px;
    margin:4rem auto;
    border : 5px solid #FADF70;
    border-radius : 1rem;
    padding : 1rem 2rem;
}

.yellow-form2{
    max-width : 1000px;
    margin:4rem auto;
    border : 5px solid #FADF70;
    border-radius : 1rem;
    padding : 1rem 2rem;
}

.navi{
    display : flex;
    justify-content : center;

}

.navi-button {
    margin : 10px;
}

.btn-submit {
    border-radius: 0.5rem;
    padding : 1rem 2rem;
    width: 20rem;
    background-color: #FADF70;
    align-items: center;
    justify-content: center;
    color: black;
    margin : 1rem;
    border : 1px solid black;
}

.lgform{
    text-align: center;
    max-width:500px;
    margin:4rem auto;
    border : 5px solid primary;
    border-radius : 1rem;
    padding : 1rem 2rem;

}

.popup {
    z-index : 1;
    position : absolute ;
    top : 50%;
    left : 50%;
    transform : translate(-50%, -50%);
    min-width : 300px;
    max-width : 600px;
    background-color : #fff;
    border-radius : 15px;
    box-shadow : 0 2px 55px -25px rgb(0 0 0 / 100%);

}

.calendar {
    width : 600px;
    margin-top : 50px;
    margin-left : 200px;
    margin-right : 200px;
}

.cal-header {
    display : flex ;
    justify-content : space-evenly;
    align-items : center;

}

.year-month {
    font-size : 35px;
}

.cal-navi {
    display : flex ;
    width : 150px;
    border : 1px solid var(--dark);
    border-radius : 5px;
}

.nav-btn {
    width : 28px;
    height : 30px;
    border : none;
    font-size : 16px;
    line-height : 34px;
    background-color : transparent;
    cursor : pointer;
    margin : 10px;
}

.go-today {
    width : 75px;
    border-left : 1px solid var(--dark);
    border-right : 1px solid var(--dark);
}

.days {
    display : flex;
    margin : 25px 0 10px;
}

.day {
    width : calc(100% /7);
    text-align : center;
}

.dates {
    display : flex ;
    flex-flow : row wrap;
    height : 500px;
    border-top : 1px solid var(--dark);
    border-right : 1px solid var(--dark);
}

.date {
    width : calc(100%/7);
    padding : 15px;
    text-align : right;
    border-bottom : 1px solid var(--dark);
    border-left : 1px solid var(--dark);
}