.btn-big, .btn {
    border-radius: 0.5rem;
    padding : 1rem 2rem;
    width: 20rem;
    background-color: var(--secondary);
    align-items: center;
    justify-content: center;
    color: white;
}
