{% load static %}

<header>
  <div class = "header">
    <div class = "top">
      <img class = "logo flex justify-center align-center f-1" src = "{% static 'images/logo50.png' %}" alt = "logo">

      {% if not user.is_authenticated %}
      <a class = "btn login" href="{% url 'accountapp:login' %}?next={{ request.path }}">
          login
      </a>
      {% else %}
      <a class = "btn login" href="{% url 'accountapp:logout' %}?next={{ request.path }}">
          logout
      </a>
      {% endif %}
    </div>

    <nav class = "navi">
      <div class="btn navi-button">
        {% if not user.is_authenticated %}
        <p>투약관리</p>
        {% else %}
        <a href="{% url 'accountapp:pill' pk=user.pk %}">
            투약관리
        </a>

        {% endif %}
      </div>
      <div class = "btn navi-button">
        <a href="{% url 'pharmacyapp:pharmacy' %}">가까운 약국 찾기</a>
      </div>
      <div class = "btn navi-button">
        <a href="{% url 'searchpillapp:pills' %}">약 검색</a>
      </div>
    </nav>
  </div>

</header>
