{% load static %}

<header>
  <nav
    class="-translate-x-60 "
    style="
      height: 100vh;
      z-index: 100;
      background-color: #f0f2f3;
      width: 15rem;
      position: absolute;
      float: left;
      transition: 1s;
    "
  >
    <div class="flex justify-end">
      <button class="mb-5" style="display: flex; width: 100%; justify-content: flex-end;" onclick="onClickClose()">
        <span class="material-symbols-outlined" style="font-size: 2rem">
          chevron_left
        </span>
      </button>
    </div>
    <div>
      <a href="/"><img src="{% static 'img/logo50.png' %}" alt="bbibbi-logo" /></a>
    </div>
  </nav>

</header>
